<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Day 20 </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>HEY</h1>
    <div class="content-box"> 
    {% if error %}
       </p>style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
      <input type="password" name="password" placeholder="Enter secret password" required>
      <button type="submit" class="button">Unlock</button>
    </form>
    {% if not error and request.method == 'POST' %}
      <div class="card">
        <p> Pattichewwwww</p>
      </div>
    {% endif %}
    <a href="{{ url_for('index') }}" class="button">Back Home</a>
  </div>
  </div>
</body>
</html>
